USE [master]
GO
/****** Object:  Database [Repair]    Script Date: 05/15/2017 23:42:36 ******/
CREATE DATABASE [Repair] ON  PRIMARY 
( NAME = N'Repair', FILENAME = N'D:\SQLDB\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Repair.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Repair_log', FILENAME = N'D:\SQLDB\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Repair_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Repair].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Repair]
GO
/****** Object:  User [repair]    Script Date: 05/15/2017 23:42:37 ******/
CREATE USER [repair] FOR LOGIN [repair] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [A]    Script Date: 05/15/2017 23:42:37 ******/
CREATE USER [A] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TypeRepair]    Script Date: 05/15/2017 23:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeRepair](
	[IDRepair] [int] IDENTITY(1,1) NOT NULL,
	[Cost] [float] NULL,
	[Note] [varchar](500) NULL,
	[Length] [float] NULL,
	[NameRepairs] [varchar](100) NOT NULL,
 CONSTRAINT [XPKTypeRepair] PRIMARY KEY CLUSTERED 
(
	[IDRepair] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1TypeRepair] UNIQUE NONCLUSTERED 
(
	[IDRepair] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeMachine]    Script Date: 05/15/2017 23:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeMachine](
	[CodeMachine] [int] NOT NULL,
	[Mark] [varchar](20) NOT NULL,
	[YearOfIssue] [int] NOT NULL,
 CONSTRAINT [XPKTypeMachine] PRIMARY KEY CLUSTERED 
(
	[CodeMachine] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Repair]    Script Date: 05/15/2017 23:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Repair](
	[StartDate] [datetime] NOT NULL,
	[CodeMachine] [int] NOT NULL,
	[IDRepair] [int] NOT NULL,
	[Note] [varchar](500) NULL,
 CONSTRAINT [XPKRepair] PRIMARY KEY CLUSTERED 
(
	[StartDate] ASC,
	[CodeMachine] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[InfoRepair]    Script Date: 05/15/2017 23:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[InfoRepair](NameRepairs,StartDate,Cost,Length,Note)
AS
SELECT TypeRepair.NameRepairs,Repair.StartDate,TypeRepair.Cost,TypeRepair.Length,Repair.Note
	FROM TypeRepair,Repair
GO
/****** Object:  Table [dbo].[Enterprise]    Script Date: 05/15/2017 23:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enterprise](
	[IDEnterprise] [int] IDENTITY(1,1) NOT NULL,
	[NameEnterprise] [varchar](30) NOT NULL,
 CONSTRAINT [XPKEnterprise] PRIMARY KEY CLUSTERED 
(
	[IDEnterprise] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1Enterprise] UNIQUE NONCLUSTERED 
(
	[IDEnterprise] ASC,
	[NameEnterprise] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Machine]    Script Date: 05/15/2017 23:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine](
	[CodeMachine] [int] NOT NULL,
	[NumberOfRepairs] [int] NULL,
	[IDCountry] [int] NOT NULL,
	[IDEnterprise] [int] NULL,
 CONSTRAINT [XPKMachine] PRIMARY KEY CLUSTERED 
(
	[CodeMachine] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 05/15/2017 23:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[IDCountry] [int] IDENTITY(1,1) NOT NULL,
	[NameCountry] [varchar](30) NOT NULL,
 CONSTRAINT [XPKCountry] PRIMARY KEY CLUSTERED 
(
	[IDCountry] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1Country] UNIQUE NONCLUSTERED 
(
	[IDCountry] ASC,
	[NameCountry] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Check [CheckCost_497509306]    Script Date: 05/15/2017 23:42:39 ******/
ALTER TABLE [dbo].[TypeRepair]  WITH CHECK ADD  CONSTRAINT [CheckCost_497509306] CHECK  (([Cost]>(0)))
GO
ALTER TABLE [dbo].[TypeRepair] CHECK CONSTRAINT [CheckCost_497509306]
GO
/****** Object:  Check [CheckYearMachine_1469913370]    Script Date: 05/15/2017 23:42:39 ******/
ALTER TABLE [dbo].[TypeMachine]  WITH CHECK ADD  CONSTRAINT [CheckYearMachine_1469913370] CHECK  (([YearOfIssue]>(((1980)-(1))-(1)) AND [YearOfIssue]<(((2001)-(1))-(1))))
GO
ALTER TABLE [dbo].[TypeMachine] CHECK CONSTRAINT [CheckYearMachine_1469913370]
GO
/****** Object:  Check [CheckStartDate_591155181]    Script Date: 05/15/2017 23:42:39 ******/
ALTER TABLE [dbo].[Repair]  WITH CHECK ADD  CONSTRAINT [CheckStartDate_591155181] CHECK  (([StartDate]>(((2008)-(1))-(1))))
GO
ALTER TABLE [dbo].[Repair] CHECK CONSTRAINT [CheckStartDate_591155181]
GO
/****** Object:  ForeignKey [R_4]    Script Date: 05/15/2017 23:42:39 ******/
ALTER TABLE [dbo].[Repair]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([CodeMachine])
REFERENCES [dbo].[Machine] ([CodeMachine])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Repair] CHECK CONSTRAINT [R_4]
GO
/****** Object:  ForeignKey [R_5]    Script Date: 05/15/2017 23:42:39 ******/
ALTER TABLE [dbo].[Repair]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([IDRepair])
REFERENCES [dbo].[TypeRepair] ([IDRepair])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Repair] CHECK CONSTRAINT [R_5]
GO
/****** Object:  ForeignKey [R_1]    Script Date: 05/15/2017 23:42:40 ******/
ALTER TABLE [dbo].[Machine]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([CodeMachine])
REFERENCES [dbo].[TypeMachine] ([CodeMachine])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Machine] CHECK CONSTRAINT [R_1]
GO
/****** Object:  ForeignKey [R_2]    Script Date: 05/15/2017 23:42:40 ******/
ALTER TABLE [dbo].[Machine]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([IDCountry])
REFERENCES [dbo].[Country] ([IDCountry])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Machine] CHECK CONSTRAINT [R_2]
GO
/****** Object:  ForeignKey [R_3]    Script Date: 05/15/2017 23:42:40 ******/
ALTER TABLE [dbo].[Machine]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([IDEnterprise])
REFERENCES [dbo].[Enterprise] ([IDEnterprise])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Machine] CHECK CONSTRAINT [R_3]
GO
